body {
	background-color: #575757;
	color: #272822;
}


.title {
	margin-bottom: -30px;
}

#bingo {
	font-family: "Luckiest Guy", cursive;
	font-size: 135px;
	color: #E74C3C;
	text-align: center;
}

#zulu_crew {
	font-family: "Pacifico", cursive;
	font-size: 40px;
	color: #F0F7FF;
	position: relative;
	top: -48px;
	left: 145px;
	transform: rotate(-7deg);
	display: inline-block;
}

#button {
	display: inline-block;
	background-color: #E74C3C;
	color: #F0F7FF;
	font-family: "Pacifico", cursive;
	font-size: 30px;
	border-radius: 10px;
	padding: 0px 15px 0px 15px;
	margin-top: 15px;
}

#button:hover {
	background-color: #E3301C;
}

.bingo_card {
	display: inline-block;
	border-radius: 20px;
	padding: 20px;
	background-color: #272822;
	text-align: center;
	margin: auto;
}

#grid {
	display: table;
	border-spacing: 4px;
}

.row {
	display: table-row;
}

.space {
	display: table-cell;
	position: relative;
	width: 135px;
	height: 135px;
	min-width: 135px;
	min-height: 135px;
	vertical-align: middle;
	background-color: #F0F7FF;
}

.space > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content {
	width: 90%;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-align: center;
	z-index: 0;
}

.content img {
	width: 48px;
	height: 48px;
}

.chip {
	width: 120px;
	height: 120px;
	z-index: 1;
	background-size: 100% 100%;
}

.awesome_face {
	background-image: url("images/awesome_face.png");
}

.doge {
	background-image: url("images/doge.png");
}

.ernest {
	background-image: url("images/ernest.png");
}

.ernest_2 {
	background-image: url("images/ernest_2.png");
}
