body {
	text-align: center;
	color: #272822;
}

#bingo {
	font-family: "Luckiest Guy", cursive;
	font-size: 150px;
	text-align: center;
	color: #ffffff;
}

#zulu_crew {
	font-family: "Pacifico", cursive;
	font-size: 45px;
	position: relative;
	top: -55px;
	left: 160px;
	transform: rotate(-7deg);
	margin-bottom: -35px;
}

.bingo_card {
	border-radius: 25px;
	display: inline-block;
	padding: 0px 25px 25px 25px;
	background-color: ;
}

#bingo_logo {
	max-width: 100%;
	max-height: 100%;
}

.grid {
	display: table;
	margin: auto;
	border-spacing: 5px;
}

.row {
	display: table-row;
}

.space {
	display: table-cell;
	position: relative;
	vertical-align: middle;
	width: 150px;
	height: 150px;
	background-color: white;
}

.space.selected{
	background-color: #ff0000;
}

.text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
}

.chip {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}


.black {
	background-color: #272822;
}

.pink {
	background-color: #F92672;
}

.blue {
	background-color: #66D9EF;
}

.green {
	background-color: #A6E22E;
}

.orange {
	background-color: #FD971F;
}
